@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>Success</h2>

<p>Your Question has been Successfully Submitted. Thank you!</p>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

